* {
  box-sizing: border-box;
}

.tabBar {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 34px;
  background: var(--Windows-Glass, #8080804d);
  padding: 12px;
  width: 68px;
  height: 292px;
  row-gap: 12px;
  backdrop-filter: blur(50px);

  .icArticle {
    width: 24px;
    height: 24px;
    overflow: hidden;
  }

  .tab2 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    border-radius: 100px;
    background-color: #ffffff12;
    padding: 10px;
    background-image: linear-gradient(#5e5e5e2e, #5e5e5e2e);
  }

  .tab3 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    border-radius: 100px;
    padding: 10px;
  }
}
