* {
  box-sizing: border-box;
}

.aAppIcon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 16px;
  background: var(--Views-Thin);
  background-color: #ffffff12;
  padding: 23px 519px 4px 20px;
  width: 880px;
  height: 241px;
  background-image: linear-gradient(#5e5e5e21, #5e5e5e21);

  .group2053139992 {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title2 {
      width: 140px;
      line-height: 19px;
      letter-spacing: -0.4px;
      color: var(--Labels-Primary, #fffffff5);
      font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 17px;
      font-weight: 600;
    }

    .title3 {
      margin: 12px 0px 0px;
      width: 140px;
      line-height: 19px;
      letter-spacing: -0.4px;
      color: var(--Labels-Secondary, #545454);
      font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 17px;
      font-weight: 600;
    }
  }

  .autoWrapper {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    justify-content: space-between;
    padding-right: 0;
    padding-left: 0;

    .title {
      margin: 5px 0px 0px;
      width: 140px;
      line-height: 19px;
      letter-spacing: -0.4px;
      color: var(--Colors-Orange, #ff9230);
      font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 17px;
      font-weight: 600;
    }

    .group2053139994 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 158px;
      min-width: 158px;
      height: 64px;

      .rectangle346241097 {
        border-radius: 3px;
        background: var(--Colors-Cyan, #3cd3fe);
        width: 5px;
        height: 64px;
      }
    }
  }

  .group2053139995 {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    margin-top: 7px;
    margin-left: 183px;
    min-width: 158px;
    height: 64px;

    .rectangle346241098 {
      border-radius: 3px;
      background: var(--Colors-Green, #30d158);
      width: 5px;
      height: 64px;
    }
  }

  .autoWrapper2 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    justify-content: space-between;
    margin-top: 15px;
    padding-right: 0;
    padding-left: 0;

    .title4 {
      margin: 5px 0px 0px;
      line-height: 19px;
      letter-spacing: -0.4px;
      color: var(--Labels-Secondary, #545454);
      font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 17px;
      font-weight: 600;
    }

    .group2053139997 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 158px;
      min-width: 158px;
      height: 64px;

      .rectangle3462410972 {
        border-radius: 3px;
        background: var(--Colors-Yellow, #ffd600);
        width: 5px;
        height: 64px;
      }
    }
  }
}
